@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    7506 Lost Highway<br />
    Camp Lejeune, NC 46706-6399<br />
    <abbr title="Phone">Cell:</abbr>
    260-413-0821
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Christopher.M.Clute@outlook.com</a><br />
</address>